<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <h4>.Net</h4>
    {% include projects_ul.html items='tisseo-api.net' %}
    <h4>Java</h4>
    {% include projects_ul.html items='jmbs walletix-java-api' %}
    <h4>Python</h4>
    {% include projects_ul.html items='walletix-python-api marienbad-puzzle' %}
    <h4>C</h4>
    {% include projects_ul.html items='termcolor basicmenu cryptarithms-solver sudoku-solver' %}
    <h4>OCaml</h4>
    {% include projects_ul.html items='boxman-puzzle' %}
    <h4>Shell</h4>
    {% include projects_ul.html items='alsac' %}
  </aside>
</div>
