<div class="unit one-fifth hide-on-mobiles">
  <aside>
      <p algin="center" ><img src="/img/avatar_cYounes.jpg" width="130" style="border: 4px solid #444;" /></p>
      <h4>Connect with me</h4>
      <ul>
          <li><a href="http://twitter.com/cYounes"><img src="/img/twittericon.png" width="20" style="float:left; margin: 5px 5px 0 0px;" />Twitter</a></li>
          <li><a href="https://plus.google.com/u/0/103534699878002934181/"><img src="/img/googleplusicon.png" width="20" style="float:left; margin: 5px 5px 0 0px" />Google+</a></li>
          <li><a href="http://fr.linkedin.com/in/cyounes"><img src="/img/linkedinicon.png" width="20" style="float:left; margin: 5px 5px 0 0px" />LinkedIn</a></li>
          <li><a href="https://github.com/cyounes"><img src="/img/githubicon.png" width="20" style="float:left; margin: 5px 5px 0 0px" />Github</a></li>
          <li><a href="http://www.flickr.com/people/62399972@N04/"><img src="/img/flickricon.png" width="20" style="float:left; margin: 5px 5px 0 0px" />Flickr</a></li>
          
      </ul>
      <!-- <h4>Meta</h4>
    {% include docs_ul.html items='contributing history' %} -->
  </aside>
</div>
