---
layout: default
title: Blog
---
<section class="news">
  <div class="grid">
    <div class="unit four-fifths">
      <ul>
        {% for post in site.posts %}
        
            {% if post.next %}      
                    {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
                    {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
                    {% capture month %}{{ post.date | date: '%B' }}{% endcapture %}
                    {% capture nmonth %}{{ post.next.date | date: '%B' }}{% endcapture %}
            {% endif %}
        
            {% if forloop.first %}              
                    <!-- year -->
                    <li><H3>{{ post.date | date: '%Y' }}</h3>              
                        <ul>
                            <!-- month -->
                            <li><h4>{{ post.date | date: '%B' }}</h4>                           
                                <ul>            
            {% else %}
                <!-- all other posts -->                                
                    {% if year != nyear %}  
                                </ul>
                            </li>                       
                            <!-- /month --> 
                        </ul>
                    </li>
                    <!-- /year -->
                    <!-- year -->
                    <li><h3>{{ post.date | date: '%Y' }}</h3>              
                        <ul>
                            <!-- month -->
                            <li><h4>{{ post.date | date: '%B' }}</h4>                           
                                <ul>        
                    {% elsif month != nmonth %}
                                </ul>
                            </li>                       
                            <!-- /month --> 
                            <!-- month -->
                            <li><h4>{{ post.date | date: '%B' }}</h4>                           
                                <ul>                                                
                    {% endif %}                 
           {% endif %}  
           <li><a href="{{ post.url }}">{{ post.title }}</a> ( {{ post.categories }} )</li> 
        
           {% if forloop.last %}
                                 </ul>
                            </li>                       
                            <!-- /month --> 
                        </ul>
                    </li>
                    <!-- /year -->      
           {% endif %}
        {% endfor %}      
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</section>


